.baroverlay-safearea-container {
  left: env(safe-area-inset-left);
  top: env(safe-area-inset-top);
  right: env(safe-area-inset-right);
  bottom: env(safe-area-inset-bottom);
}

.baroverlay-container {
  display: flex;
  position: absolute;
  flex-direction: column;
}
