@import "../../shared/animations.css";

.container {
  display: flex;
  align-items: center;
}

.button {
  font-size: calc(1.4vmin + 1.4vmax);
  font-family: "Isocteur";
  color: #f2f2ea;
  border: 3px solid #f2f2ea;
  outline: none;
  background-color: transparent;
  font-weight: 600;
  padding-top: calc(calc(1.3vmin + 1.3vmax) * 0.9);
  padding-bottom: calc(calc(1.3vmin + 1.3vmax) * 0.8);
  padding-left: calc(calc(1.3vmin + 1.3vmax) * 2);
  padding-right: calc(calc(1.3vmin + 1.3vmax) * 2);
  width: 100%;
  max-width: calc(calc(1.3vmin + 1.3vmax) * 25);
  text-decoration: none;
  text-align: center;
  user-select: none;
  animation: fadeIn 1s;
  animation-timing-function: ease-out;
}

@media (max-aspect-ratio: 1 / 1) {
  .button {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.button:hover {
  background-color: #ffffff44;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
    border: 10px solid #f2f2ea00;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    border: 3px solid #f2f2ea;
  }
}
