.socialmediabutton-icon {
  width: calc(2.5vmin + 2.5vmax);
  height: calc(2.5vmin + 2.5vmax);
  margin-right: calc(1vmin + 1vmax);
  padding-bottom: calc(0.3vmin + 0.3vmax);
}

.socialmediabutton-button {
  font-size: calc(1.4vmin + 1.4vmax);
  font-family: "Isocteur";
  color: #524c49;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 600;
  width: 100%;
  max-width: calc(calc(1.3vmin + 1.3vmax) * 25);
  text-decoration: none;
  text-align: center;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.socialmediabutton-button:hover {
  cursor: pointer;
}
