@font-face {
  font-family: "Black Quality";
  src: url("./blackquality/BlackQuality.ttf");
}

@font-face {
  font-family: "Isocteur";
  src: url("./isocteur/isocteur.ttf");
}

// @font-face {
//   font-family: "Roboto Slab";
//   src: url("./robotoslab/RobotoSlab-Light.ttf");
//   font-weight: 300;
// }

@font-face {
  font-family: "Roboto Slab";
  src: url("./robotoslab/RobotoSlab-Regular.ttf");
}

// @font-face {
//   font-family: "Roboto Slab";
//   src: url("./robotoslab/RobotoSlab-Medium.ttf");
//   font-weight: 500;
// }

// @font-face {
//   font-family: "Roboto Slab";
//   src: url("./robotoslab/RobotoSlab-SemiBold.ttf");
//   font-weight: 600;
// }

@font-face {
  font-family: "Roboto Slab";
  src: url("./robotoslab/RobotoSlab-Bold.ttf");
  font-weight: 700;
}
