@import "../../shared/variables.scss";

.down-arrow-container {
  height: 4vmin;
}

.down-arrow-image {
  height: 100%;
  width: 100%;
  background-position: center;
  user-select: none;
  pointer-events: none;
  animation: float 3s ease infinite;
}
