@import "../../shared/variables.scss";

.down-arrow {
  outline: none;
  border: none;
  width: 20vmin;
  padding: 5vmin 0px;

  position: fixed;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 420;
}

.down-arrow-image {
  height: 100%;
  width: 100%;
  background-position: center;
  user-select: none;
  pointer-events: none;
  fill: orange;
}

.down-arrow-text {
  color: $primaryText;
  font-family: "Isocteur";
}
