@import "../assets/fonts/fonts.scss";

$logo_title_font: "Black Quality";
$logo_subtitle_font: "Isocteur";
$body_font: "Robot Slab";

h1 {
  font-family: $logo_title_font;
  font-size: 10em;
  color: black;
}

h2 {
  font-family: $body_font;
  font-size: 2.5em;
  color: black;
}
