@import "shared/base";

$logo_title_font: "Black Quality";
$logo_subtitle_font: "Isocteur";
$body_font: "Robot Slab";
$scroll-button-width: 42px;
$scroll-button-height: 15px;
$scroll-button-padding: 20px;

.home:after {
  background-image: url("../assets/images/home.jpg");
}
.about:after {
  background-image: url("../assets/images/about.jpg");
}
.experience:after {
  background-image: url("../assets/images/experience.jpg");
}

.home-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.googletext {
  display: none;
}

.title {
  margin-bottom: -0.15em;
  margin-top: 0.05em;
  font-family: $logo_title_font;
  font-size: 80px;
  font-weight: normal;
  @include dropShadow();
}

.button {
  border-radius: 10px;
  background-color: transparent;
  border: 3px solid white;
  padding: 15px;
  width: 100%;
  @include dropShadow();
}

.spacer-logo {
  height: 10px;
}

.spacer-button {
  height: 60px;
}

.subtitle {
  font-family: $logo_subtitle_font;
  font-size: 21px;
  font-weight: normal;
  @include dropShadow(1);
}

.scrollDownButton {
  background-color: transparent;
  padding: $scroll-button-padding;
  cursor: pointer;
  outline: none;
  @include dropShadow(1);
  @include animation-bounce;
  position: absolute;
  bottom: 20px;
}
.scrollDownButton--image {
  width: inherit;
  height: inherit;
}
