/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

.spacer1 {
  width: 100%;
  height: 50px;
}

a:focus,
button:focus {
  outline-color: red;
}

::selection {
  background: blue;
  color: green;
}
